week1-terraform/terraform.tfstate
week1-terraform/terraform.tfstate.backup
week1-terraform/.terraform/terraform.tfstate
week1-terraform/.terraform/providers/registry.terraform.io/hashicorp/google/4.49.0/linux_amd64/terraform-provider-google_v4.49.0_x5
week1-terraform/de-zoomcamp-375617-d3361d38006c.json
week1-terraform/.terraform.lock.hcl
week1-terraform/.terraform-version
